<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="{{general.assetsBase}}/{{general.styleUrl}}">
	<script src="{{general.assetsBase}}/{{general.jsVendorUrl}}"></script>
	<script src="{{general.assetsBase}}/{{general.jsBundleUrl}}?v={{general.version}}"></script>
	<title>{{title}}</title>
	<link rel="manifest" href="manifest.json">
	<meta name="theme-color" content="{{general.primaryColor}}">
	<link rel="icon" href="{{general.assetsBase}}/images/tuqire-icon.png">
	<meta property="og:url" content="{{general.siteUrl}}">
	<meta property="og:type"  content="website">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{general.pageDescription}}">
	<meta property="og:image" content="{{general.siteUrl}}/{{general.assetsBase}}/images/tuqire-fb.png">
</head>
